<!--base-user与login共同完成登录界面-->
{% extends "main/base-user.html" %}
{% block title %}欢迎使用案例推理和隐私风险评估系统{% endblock %}

{% block body %}
<div class="login-main">
    <header class="layui-elip">账号登录</header>
    <form class="layui-form" method="post">
        {{ form.csrf_token }}
        <div class="layui-input-inline">
            {{ form.account(class="layui-input",placeholder="账号") }}
        </div>
        <div class="layui-input-inline">
            {{ form.password(class="layui-input",placeholder="密码") }}
        </div>
        <div class="layui-input-inline login-btn">
            {{ form.submit(class="layui-btn") }}
        </div>
        <hr/>
        <p><a href="javascript:;" class="fr">忘记密码?</a></p>
    </form>

</div>
{% endblock %}